:root {
    --primary-color: #B2E4DB;
    --secondary-color: #B0C6CE;
    --font-color: #322E38;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--font-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--font-color);
    background-color: var(--secondary-color);
    text-align: center;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.background {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
}

.hero article {
    position: absolute;
    top: 75px;
    background-color: var(--primary-color);
    padding: 2px;

}

.hero article img {
    float: right;
    width: 125px;
}

a {
    text-decoration: none;
}

header {
    display: grid;
    background-color: var(--secondary-color);
    border: 2px solid rgb(0, 0, 0);
    margin-top: 5px;
    margin-bottom: 5px;
}

header img {
    grid-column: 1/2;
    justify-content: center;
    padding-left: 125px;

}

header nav {
    grid-column: 2/3;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

header nav ul li {
    padding: 10px 25px;
    border: 1px solid rgb(0, 0, 0);
}

section img {
    width: 20%;
}

.history {
    display: flex;
    justify-content: center;
    align-items: center;
}

.adventures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.adventures figure {
    margin: auto;
}

.adventures figure img {
    width: 100px;
}

figcaption {
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--primary-color);
    border: 1px solid rgb(0, 0, 0);
}

.socialmedia a {
    text-decoration: none;
    padding: 10px;
}

.socialmedia a img {
    width: auto;
    height: 50px;
}