:root {
    --primary-color: #b2e4ca;
    --secondary-color: #55bcb7;
    --font-color: #322E38;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--font-color);
    overflow: hidden;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--font-color);
    text-align: center;
    font-weight: 900;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.background {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    color: white;
}

.hero article {
    position: absolute;
    top: 75px;
    background-color: var(--primary-color);
    padding: 2px;

}

.hero article img {
    float: right;
    width: 125px;
}

a {
    text-decoration: none;
}

header {
    display: grid;
    background-color: var(--secondary-color);
    border: 2px solid rgb(0, 0, 0);
    margin-top: 5px;
    margin-bottom: 5px;
}

header img {
    grid-column: 1/2;
    justify-content: center;
    padding-left: 125px;
    width: 65%;

}

header nav {
    grid-column: 2/3;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

header nav ul li {
    padding: 10px 25px;
    border: 1px solid rgb(0, 0, 0);
    display: block;
    margin-right: -1px;
    font-size: 1.2rem;

}

section img {
    width: 20%;
}

.history {
    display: flex;
    justify-content: center;
    align-items: center;
}

.adventures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.adventures figure {
    margin: auto;
}

.adventures figure img {
    width: 100px;
}

figcaption {
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--primary-color);
    border: 1px solid rgb(0, 0, 0);
}

.socialmedia a {
    text-decoration: none;
    padding: 10px;
}

.socialmedia a img {
    width: auto;
    height: 50px;
}

.info {
    text-align: center;
    font-size: 1.5rem;
}

.map-form {
    margin: 1rem 0;
    display: flex;

}

form {
    padding: 2rem;
    width: 600px;
}

.form-item {
    padding: .5rem;
    display: grid;

}

input[type="email"],
input[type="text"] {
    margin-left: 3rem;
    width: 70%;
    height: 2rem;
}

.purpose {
    display: flex;
}

.purpose div {
    display: grid;
    padding-left: 2rem;
}

textarea {
    height: 4rem;
}

button {
    background-color: rgb(0, 128, 64);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    width: 100%;
}

button:hover {
    background-color: darkcyan;
}

.employees {
    grid-template-columns: repeat(3, 1fr);
}

h3 {
    text-align: center;
    font-size: 1.5rem;
}

.employees-section {
    border: 2px solid rgb(0, 0, 0);
    margin: 0 0 5px 0;
}

.title {
    background-color: transparent;
    position: relative;
    opacity: .9;
}

fieldset {
    text-align: center;
    background-color: rgb(85, 188, 183, 0.4);
    color: black;
    border: 2px solid black;
    font-size: 1.5rem;
}

legend {
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}

.signup {
    margin: 1rem 0;
    width: 100%;

}

.signmeup {
    width: 40%;
    margin: auto;
}

.signup-form {
    margin: 0 auto;
}

.trips1 {
    grid-template-columns: repeat(2, 1fr);
}

.moreinfo {
    background-color: rgb(85, 188, 183, 0.2);
}

.trips1 figure img {
    float: left;
    width: 150px;
    border: 1.5px solid white;
    margin: auto;
}

.scrollable {
    height: 600px;
    overflow-y: auto;
    scrollbar-width: none;
    display: grid;
}

.scrollable img {
    height: 500px;
    width: auto;
    margin-left: 0.5rem;
    margin-top: .5rem;
    border: 2px solid black;
}

.viajes {
    height: 600px;
    background-color: bisque;
}

.viajes figure {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.viajes div {
    margin: auto 1rem;
}

.tripstable {
    margin: auto;
}

.tripstable,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    padding: .5rem;
}

.tripstable th {
    background-color: rgba(9, 144, 137, 0.4);
}

.contactus:hover {
    color: black;
    font-size: 2rem;
}

.contactus {
    display: block;
    text-align: right;
    font-size: 1.5rem;
    color: rgba(0, 91, 160, 0.4);
}