table {
    border-collapse: collapse;
    border: 1px solid rgb(0, 0, 0);
    letter-spacing: 1px;
}

th,
td {
    border: 1px solid rgb(0, 0, 0);
    padding: 8px 12px;
    text-align: center;
}

thead tr,
tfoot tr {
    background-color: black;
    color: white;
    font-weight: 700;
}