:root {
    --black-border: 1px solid black;
}

* {
    margin: 0;
    ;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: lightblue;
    padding: 1rem;
}

nav a {
    display: block;
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
}

h1 {
    color: lightblue;
    border-bottom: 1px solid rgb(0, 0, 0);

}

main img {
    width: 150px;
    height: auto;
    border: var(--black-border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin-top: 10px;

}

p {
    padding: 10px;
}

aside img {
    width: 200px;
    height: auto;

}

aside h2 {
    position: absolute;
    top: 120px;
    left: 120px;
    color: white;
}

footer {
    margin-top: 15px;
    border-top: var(--black-border);
    text-align: center;
}

/* class selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0, .1);
    padding: 1rem;
    background-color: #eee;
}

.indent {
    padding-left: 20px;
}

header,
footer,
.grid {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20em;
    position: relative;
    grid-row: 1/2;
    grid-column: 1/2;
}