.callout {
    max-width: 600px;
    margin: 300px;
    padding: 5px;
    background-color: blue;
    color: white;
}

.callout img {
    float: right;
    margin: 10px;
    border: 3px solid white;
    padding: 0px;
    width: 120px;
    height: auto;
}

blockquote {
    margin: 40px;
}

cite {
    display: block;
    text-align: right;
    border-top: 2px dotted white;
    padding-top: 10px;
    padding: 10px;
}